/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header { 
 background-color: #7C2E7A ;            
 color: #fff;            
 height: 90px;            
}            
.header-logo {            
 float: left;            
 font-size: 36px;            
 padding: 20px 40px;            
}            
.header-list li {            
float: left;            
padding: 33px 20px;            
}

.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}
.copy-container h2 {
  font-size: 60px;
}
.copy-container span{
  color:#F3B237 ;
}

.contents {
  height: 500px;
  margin-top: 100px;
}
.section-title {
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.footer {
    background-color: #7C2E7A;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
  